<ul>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">List of {{filtered.length}} items</h3>
        </div>
        <div class="panel-body">

            <ul class="phones">
                <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query as filtered" class="thumbnail phone-list-item">
                    <a href="#/phones/{{phone.id}}" alt={{phone.name}} class="thumb">
                        <img ng-src="{{'src/'+phone.imageUrl}}" alt="{{phone.name}}" />
                    </a>
                    <a href="#/phones/{{phone.id}}">{{phone.name}} class="thumb"</a>
                    <p ng-if="phone.carrier">Carrier: {{phone.carrier}}</p>
                    <div>{{phone.snippet}}</div>
                </li>
            </ul>
       </div>
    </div>
</ul>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <!--Body content-->

            <ul class="phones">
                <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp"
                    class="thumbnail phone-list-item">
                    <a href="#!/phones/{{phone.id}}" class="thumb">
                        <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
                    </a>
                    <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>