<ul>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">List of {{filtered.length}} items</h3>
        </div>
        <div class="panel-body">
            <div class="row thumbnail" ng-repeat="phone in $ctrl.phones | filter:$ctrl.query as filtered">
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <img class="img-rounded" alt={{phone.name}} width="200" height="236" ng-src="{{'src/'+phone.imageUrl}}"  >
                </div>
                <div class="col-md-8 col-lg-8 col-sm-8">
                    <span>{{phone.name}}</span>
                    <p ng-if="phone.carrier">Carrier: {{phone.carrier}}</p>
                    <p>Age: {{phone.age}}</p>
                    <p>{{phone.snippet}}</p>
                    <a ng-href="/#/phones/{{phone.id}}">{{phone.name}}</a>
                </div>
            </div>
       </div>
    </div>
</ul>
