<div class="cart">
    <h3>Cart</h3>
    <ul>
        <li ng-repeat="item in cartCtrl.cart.phones track by $index" class="thumbnail">
            <a href="#/phones/{{item.id}}" alt={{item.name}} class="thumb-s">
                <img ng-src="{{'src/'+item.imageUrl}}" alt="{{item.name}}" />
            </a>
            <button type="button" class="btn btn-default" ng-click="cartCtrl.removeFromCart(item)">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> remove
            </button>
            <span>{{item.name}}</span>
        </li>
    </ul>
</div>