body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

/* View: Phone list */
.phones {
  list-style: none;
}

.phones li {
  clear: both;
  min-height: 120px;
  padding: 10px 10px 10px;
  overflow: hidden;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

.thumb-s{
  width: 50px;
  height: 50px;
  float: left;
  padding-bottom: 0.5em;
}

.thumbnail a>img{
  padding: 10px;
}

.thumbnail a.thumb-s > img{
  padding: 5px;
}

/* View: Phone detail */
.phone {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.phone:first-child {
  display: block;
}

.phone-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.phone-thumbs {
  list-style: none;
  margin: 0;
}

.phone-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.phone-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}

.cart >ul{
  padding: 0;
}

.cart .thumbnail{
  overflow: hidden;
  max-width: 250px;
}

ul[dnd-list], ul[dnd-list] > li {
  position: relative;
}


/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
ul[dnd-list] .dndDraggingSource {
  display: none;
}

.phone-list-item.unavailable,
.cart .thumbnail.unavailable{
  background: rgba(0,0,0,.12);
}


