<!DOCTYPE html>
<html ng-app="myApp" ng-strict-di>
<head>
	<title>Angular ES6 Sample</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="css/app.css" />
	<link rel="stylesheet" href="css/app.animations.css" />
	<link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</head>
<body ng-controller="HomeController as ctrl">

	<div class="container-fluid">
		<div class="jumbotron" style="padding-bottom: 0">
			<h4>query: {{ ctrl.query }}</h4>
			<div class="cart">
				<h3> Cart</h3>
				<h3>cart.cart: {{cartCtrl.cart}}</h3>
				<h3>cards </h3>
				<ul>
					<li ng-repeat="item in ctrl.cart.phones track by $index" class="thumbnail">
						<a href="#/phones/{{item.id}}" alt={{item.name}} class="thumb-s">
							<img ng-src="{{'src/'+item.imageUrl}}" alt="{{item.name}}" />

						</a>
						<button type="button" class="btn btn-default" ng-click="ctrl.removeFromCart(item)">
							<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> remove
						</button>
						<span>{{item.name}}</span>
					</li>
				</ul>
			</div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" ng-class="{active:ctrl.isTabActive('')}"><a href="/" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
				<li role="presentation" ng-class="{active:ctrl.isTabActive('/phones')}"><a href="#phones" aria-controls="profile" role="tab" data-toggle="tab">Phones</a></li>
				<li role="presentation" ng-class="{active:ctrl.isTabActive('/settings')}"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
				<li></li>
			</ul>
		</div>
		<div class="row">
			<div class="col-sm-3 col-md-2">

				<search-box query="ctrl.query"></search-box>
				{{ctrl.cart.length}}
				<cart cart="ctrl.cart" remove="ctrl.removeFromCart"></cart>
			</div>

			<div class="col-sm-9 col-md-10">
				<div class="view-container">
					<p> test1: {{TestController.cart}}</p>
					<div ng-view class="view-frame">

					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="libs/jquery.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/angular-route.min.js"></script>
	<script src="libs/angular-aria.min.js"></script>
	<script src="libs/angular-animate.min.js"></script>
	<script src="libs/angular-material.min.js"></script>
	<script src="scripts/app.min.js"></script>

</body>
</html>
